<!DOCTYPE html>
<html ng-app="mapperApp">
  <head>
  </head>
  <body>
    <!-- <div ng-controller="myServiceCtrl"> -->
      <div ng-controller="searchCtrl">

        <form ng-submit="search()">
        1. Find bands similar to: <input type="text" ng-model="data.artist" placeholder="Artist Name">
        2. When: <input type="text" ng-model="data.startDate" placeholder="mm/dd/yyyy">
        <input type="text" ng-model="data.endDate" placeholder="mm/dd/yyyy">
        3. Where: <input type="text" ng-model="data.myLocation" placeholder="City, State, Zip, etc.">
        <button type="submit">Submit</button>
        </form>

        <div>
          <p ng-repeat="result in results"> {{ result.name }} </p>
        </div>

      </div>
      
    

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/App/Scripts/app.js"></script>
    <script src="/App/Scripts/controllers/searchCtrl.js"></script>
    <script src="/App/Scripts/services/lastfmService.js"></script>
  </body>
</html>